# Test Report

"outline the testing plan and the testing strategy, the principles used, and any other relevant discussion about testing."
"The test plan and test results of user testing must be included as an appendices."
"The name of each JUnit test class should be provided in a list and included as an appendix."
"Include details of the user testing undertaken, and the results of user testing should be included as an appendix."
"The report must include evidence of coverage achieved by the tests."

## Testing Strategy

## Testing Principles

## User Testing

## Test Coverage

## Appendices

### Test Plan

### JUnit Test Results

### User Testing Results

### List of JUnit Test Classes